In [55]:

import tensorflow as tf
import matplotlib as plt
import re
import shutil
import string
from tensorflow.keras import layers
from tensorflow.keras import losses

In [56]:
import os

In [57]:
import pandas as pd
import numpy as np

In [58]:
def load_data_fn(directory, body_file_name):
    data = []
    path = os.path.join(directory, body_file_name)
    data = pd.read_csv(path)
    return data

In [59]:
main_body=load_data_fn('C:\\Users\\tejas\\Documents\\SentimentAnalysis\\fnc_1_master','train_bodies.csv')

In [60]:
main_body

      Body ID                                        articleBody
0           0  A small meteorite crashed into a wooded area i...
1           4  Last week we hinted at what was to come as Ebo...
2           5  (NEWSER) – Wonder how long a Quarter Pounder w...
3           6  Posting photos of a gun-toting child online, I...
4           7  At least 25 suspected Boko Haram insurgents we...
...       ...                                                ...
1678     2528  Intelligence agencies hunting for identity of ...
1679     2529  While Daleks "know no fear" and "must not fear...
1680     2530  More than 200 schoolgirls were kidnapped in Ap...
1681     2531  A Guantanamo Bay prisoner released last year a...
1682     2532  ANN ARBOR, Mich. – A pizza delivery man in Mic...

[1683 rows x 2 columns]

In [61]:
main_body_labels=load_data_fn('C:\\Users\\tejas\\Documents\\SentimentAnalysis\\fnc_1_master','train_stances.csv')

In [62]:
main_body_labels

                                                Headline  Body ID     Stance
0      Police find mass graves with at least '15 bodi...      712  unrelated
1      Hundreds of Palestinians flee floods in Gaza a...      158      agree
2      Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3      HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4      Spider burrowed through tourist's stomach and ...     1923   disagree
...                                                  ...      ...        ...
49967  Urgent: The Leader of ISIL 'Abu Bakr al-Baghda...     1681  unrelated
49968  Brian Williams slams social media for speculat...     2419  unrelated
49969  Mexico Says Missing Students Not Found In Firs...     1156      agree
49970  US Lawmaker: Ten ISIS Fighters Have Been Appre...     1012    discuss
49971  Shots Heard In Alleged Brown Shooting Recordin...     2044  unrelated

[49972 rows x 3 columns]

In [63]:
result=pd.merge(main_body,main_body_labels,on="Body ID",how='right')

In [64]:
result

,Body ID,articleBody,Headline,Stance
0,712,Danny Boyle is directing the untitled film\n\n...,Police find mass graves with at least '15 bodi...,unrelated
1,158,Hundreds of Palestinians were evacuated from t...,Hundreds of Palestinians flee floods in Gaza a...,agree
2,137,30-year-old Moscow resident was hospitalized w...,"Christian Bale passes on role of Steve Jobs, a...",unrelated
3,1034,(Reuters) - A Canadian soldier was shot at the...,HBO and Apple in Talks for $15/Month Apple TV ...,unrelated
4,1923,"Fear not arachnophobes, the story of Bunbury's...",Spider burrowed through tourist's stomach and ...,disagree
...,...,...,...,...
49967,1681,(CNN) -- Boko Haram laughed off Nigeria's anno...,Urgent: The Leader of ISIL 'Abu Bakr al-Baghda...,unrelated
49968,2419,Along with unveiling the Apple Watch earlier t...,Brian Williams slams social media for speculat...,unrelated
49969,1156,The bodies found in a mass grave were confirme...,Mexico Says Missing Students Not Found In Firs...,agree
49970,1012,Rep. Duncan Hunter (R-CA) told Greta Van Suste...,US Lawmaker: Ten ISIS Fighters Have Been Appre...,discuss
49971,2044,A married TV actor who met a young woman and k...,Shots Heard In Alleged Brown Shooting Recordin...,unrelated

In [65]:
sorted_df = result.sort_values(by='Body ID', ascending=True)

In [66]:
sorted_df

,Body ID,articleBody,Headline,Stance
27879,0,A small meteorite crashed into a wooded area i...,Soldier shot near Canadian parliament building,unrelated
21704,0,A small meteorite crashed into a wooded area i...,Caught a catfish record in Po: 127 kg and 2.67...,unrelated
7110,0,A small meteorite crashed into a wooded area i...,Enormous 20-stone catfish caught with fishing ...,unrelated
12573,0,A small meteorite crashed into a wooded area i...,Soldier shot at war memorial in Canada,unrelated
16307,0,A small meteorite crashed into a wooded area i...,A soldier has been shot at Canada’s war memori...,unrelated
...,...,...,...,...
46450,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...",Ann Arbor pizza delivery driver surprised with...,agree
41950,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip",agree
34899,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets $2,000 tip",agree
15822,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery driver surprised with $2,000 tip",agree
27064,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets tipped more than $2,00...",agree

In [67]:
reindexed_df = sorted_df.reset_index(drop=True)

In [68]:
reindexed_df

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,Soldier shot near Canadian parliament building,unrelated
1,0,A small meteorite crashed into a wooded area i...,Caught a catfish record in Po: 127 kg and 2.67...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Enormous 20-stone catfish caught with fishing ...,unrelated
3,0,A small meteorite crashed into a wooded area i...,Soldier shot at war memorial in Canada,unrelated
4,0,A small meteorite crashed into a wooded area i...,A soldier has been shot at Canada’s war memori...,unrelated
...,...,...,...,...
49967,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...",Ann Arbor pizza delivery driver surprised with...,agree
49968,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip",agree
49969,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets $2,000 tip",agree
49970,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery driver surprised with $2,000 tip",agree
49971,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets tipped more than $2,00...",agree

In [69]:
reindexed_df=reindexed_df.dropna()

In [70]:
reindexed_df

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,Soldier shot near Canadian parliament building,unrelated
1,0,A small meteorite crashed into a wooded area i...,Caught a catfish record in Po: 127 kg and 2.67...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Enormous 20-stone catfish caught with fishing ...,unrelated
3,0,A small meteorite crashed into a wooded area i...,Soldier shot at war memorial in Canada,unrelated
4,0,A small meteorite crashed into a wooded area i...,A soldier has been shot at Canada’s war memori...,unrelated
...,...,...,...,...
49967,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...",Ann Arbor pizza delivery driver surprised with...,agree
49968,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip",agree
49969,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets $2,000 tip",agree
49970,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery driver surprised with $2,000 tip",agree
49971,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","Pizza delivery man gets tipped more than $2,00...",agree

In [71]:
headline=reindexed_df['Headline']

In [72]:
articleBody=reindexed_df['articleBody']

In [73]:
stance=reindexed_df['Stance']

In [74]:
headline

0           Soldier shot near Canadian parliament building
1        Caught a catfish record in Po: 127 kg and 2.67...
2        Enormous 20-stone catfish caught with fishing ...
3                   Soldier shot at war memorial in Canada
4        A soldier has been shot at Canada’s war memori...
                               ...
49967    Ann Arbor pizza delivery driver surprised with...
49968     Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip
49969                   Pizza delivery man gets $2,000 tip
49970      Pizza delivery driver surprised with $2,000 tip
49971    Pizza delivery man gets tipped more than $2,00...
Name: Headline, Length: 49972, dtype: object

In [75]:
max_features=1000000
sequence_length=800

In [76]:
word_sum = 0
article_count = 0

for article in articleBody:
    words = article.split()  # Split the article into words
    word_count = len(words)
    word_sum += word_count
    article_count += 1

average_words_per_article = word_sum / article_count

print("Average number of words per article:", average_words_per_article)

Average number of words per article: 369.7017129592572

In [77]:
word_sum = 0
article_count = 0

for article in headline:
    words = article.split()  # Split the article into words
    word_count = len(words)
    word_sum += word_count
    article_count += 1

average_words_per_article = word_sum / article_count

print("Average number of words per article:", average_words_per_article)

Average number of words per article: 11.12647082366125

In [78]:
# Function to truncate or pad a text to a specific number of words
def truncate_or_pad(text, target_length):
    words = text.split()[:target_length]  # Take the first 'target_length' words
    if len(words) < target_length:
        words.extend([''] * (target_length - len(words)))  # Pad with zeros if needed
    return ' '.join(words)

# Truncate or pad articleBody and headline
merged_df = pd.DataFrame()
merged_df['articleBody'] = reindexed_df['articleBody'].apply(lambda x: truncate_or_pad(x, 600))
merged_df['headline'] = reindexed_df['Headline'].apply(lambda x: truncate_or_pad(x, 200))

# Display the new DataFrame
print(merged_df.head())

                                         articleBody  \
0  A small meteorite crashed into a wooded area i...
1  A small meteorite crashed into a wooded area i...
2  A small meteorite crashed into a wooded area i...
3  A small meteorite crashed into a wooded area i...
4  A small meteorite crashed into a wooded area i...

                                            headline
0  Soldier shot near Canadian parliament building...
1  Caught a catfish record in Po: 127 kg and 2.67...
2  Enormous 20-stone catfish caught with fishing ...
3  Soldier shot at war memorial in Canada        ...
4  A soldier has been shot at Canada’s war memori...

In [79]:
# Merge articleBody and headline into one string column
merged_df['merged_text'] = merged_df['articleBody'] + ' ' + merged_df['headline']

# Display the new DataFrame with the merged_text column
print(merged_df.head())

                                         articleBody  \
0  A small meteorite crashed into a wooded area i...
1  A small meteorite crashed into a wooded area i...
2  A small meteorite crashed into a wooded area i...
3  A small meteorite crashed into a wooded area i...
4  A small meteorite crashed into a wooded area i...

                                            headline  \
0  Soldier shot near Canadian parliament building...
1  Caught a catfish record in Po: 127 kg and 2.67...
2  Enormous 20-stone catfish caught with fishing ...
3  Soldier shot at war memorial in Canada        ...
4  A soldier has been shot at Canada’s war memori...

                                         merged_text
0  A small meteorite crashed into a wooded area i...
1  A small meteorite crashed into a wooded area i...
2  A small meteorite crashed into a wooded area i...
3  A small meteorite crashed into a wooded area i...
4  A small meteorite crashed into a wooded area i...

In [80]:
def custom_standardization(input_data):
  lowercase = tf.strings.lower(input_data)
  stripped_html = tf.strings.regex_replace(lowercase, '<br />', ' ')
  return tf.strings.regex_replace(stripped_html,
                                  '[%s]' % re.escape(string.punctuation),
                                  '')

In [81]:
vectorize_layer=layers.TextVectorization(
standardize=custom_standardization,
max_tokens=max_features,
output_mode='int',
output_sequence_length=sequence_length)

In [82]:
embedding_dimension=10

In [83]:
from tensorflow.keras.layers import GlobalAveragePooling1D

In [84]:
model=tf.keras.Sequential([
    layers.Embedding(max_features,embedding_dimension),
    layers.Dropout(0.2),
    layers.GlobalAveragePooling1D(),
    layers.Dropout(0.2),
     layers.Dense(4, activation='softmax')
])

In [85]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 10)          10000000

 dropout (Dropout)           (None, None, 10)          0

 global_average_pooling1d (  (None, 10)                0
 GlobalAveragePooling1D)

 dropout_1 (Dropout)         (None, 10)                0

 dense (Dense)               (None, 4)                 44

=================================================================
Total params: 10000044 (38.15 MB)
Trainable params: 10000044 (38.15 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [95]:
model.compile(
#     run_eagerly=True,
    loss=losses.CategoricalCrossentropy(),
    optimizer='adam',
    metrics=[tf.metrics.CategoricalAccuracy()]
)

In [87]:
sum=0;
count=0
for i in headline:
    count=count+1;
    sum=sum+len(i)
print(sum/count)

69.35685984151125

In [88]:
vectorize_layer.adapt(merged_df['merged_text'])

In [89]:
vectorized_data = vectorize_layer(merged_df['merged_text'])

In [90]:
# Replace categorical values with numeric values
stance.replace({'agree': 0, 'disagree': 1, 'discuss': 2, 'unrelated': 3}, inplace=True)

In [91]:
stance.head()

0    3
1    3
2    3
3    3
4    3
Name: Stance, dtype: int64

In [92]:
for i in stance:
    if i !=0 and i !=1 and i!=2 and i!=3:
        print(i)

In [93]:
import tensorflow as tf

tf.keras.backend.clear_session()

In [96]:
from tensorflow.keras.utils import to_categorical

# Convert stance to one-hot encoded format
stance_one_hot = to_categorical(stance, num_classes=4)

# Train the model
history = model.fit(
    vectorized_data,
    stance_one_hot,
    epochs=10
)

Epoch 1/10
1562/1562 [==============================] - 199s 127ms/step - loss: 0.8039 - categorical_accuracy: 0.7313
Epoch 2/10
1562/1562 [==============================] - 210s 134ms/step - loss: 0.7570 - categorical_accuracy: 0.7316
Epoch 3/10
1562/1562 [==============================] - 248s 159ms/step - loss: 0.7189 - categorical_accuracy: 0.7385
Epoch 4/10
1562/1562 [==============================] - 242s 155ms/step - loss: 0.6816 - categorical_accuracy: 0.7487
Epoch 5/10
1562/1562 [==============================] - 357s 229ms/step - loss: 0.6468 - categorical_accuracy: 0.7575
Epoch 6/10
1562/1562 [==============================] - 299s 192ms/step - loss: 0.6174 - categorical_accuracy: 0.7679
Epoch 7/10
1562/1562 [==============================] - 290s 186ms/step - loss: 0.5921 - categorical_accuracy: 0.7766
Epoch 8/10
1562/1562 [==============================] - 345s 221ms/step - loss: 0.5730 - categorical_accuracy: 0.7839
Epoch 9/10
1562/1562 [==============================] - 294s 188ms/step - loss: 0.5566 - categorical_accuracy: 0.7905
Epoch 10/10
1562/1562 [==============================] - 296s 189ms/step - loss: 0.5429 - categorical_accuracy: 0.7955

In [ ]:
vectorized_data.shape

In [ ]:
# Check for empty or NaN values in input data
print("Empty or NaN values in input data:", np.any(np.isnan(vectorized_data)) or np.any(np.all(vectorized_data == 0)))

# Check for empty or NaN values in target labels
print("Empty or NaN values in target labels:", np.any(np.isnan(stance_one_hot)) or np.any(np.all(stance_one_hot == 0)))

In [97]:
# Load test data
test_main_body = load_data_fn('C:\\Users\\tejas\\Documents\\SentimentAnalysis\\fnc_1_master', 'competition_test_bodies.csv')
test_main_body_labels = load_data_fn('C:\\Users\\tejas\\Documents\\SentimentAnalysis\\fnc_1_master', 'competition_test_stances.csv')

# Merge test data
test_result = pd.merge(test_main_body, test_main_body_labels, on="Body ID", how='right')
test_sorted_df = test_result.sort_values(by='Body ID', ascending=True)
test_reindexed_df = test_sorted_df.reset_index(drop=True)
test_reindexed_df = test_reindexed_df.dropna()

# Preprocess test data
test_merged_df = pd.DataFrame()
test_merged_df['articleBody'] = test_reindexed_df['articleBody'].apply(lambda x: truncate_or_pad(x, 600))
test_merged_df['headline'] = test_reindexed_df['Headline'].apply(lambda x: truncate_or_pad(x, 200))
test_merged_df['merged_text'] = test_merged_df['articleBody'] + ' ' + test_merged_df['headline']

# Vectorize test data
test_vectorized_data = vectorize_layer(test_merged_df['merged_text'])

# Convert stance to numeric
test_stance = test_reindexed_df['Stance'].replace({'agree': 0, 'disagree': 1, 'discuss': 2, 'unrelated': 3})

# Evaluate model on test data
test_stance_one_hot = to_categorical(test_stance, num_classes=4)
test_loss, test_accuracy = model.evaluate(test_vectorized_data, test_stance_one_hot)
print("Test Loss:", test_loss)
print("Test Accuracy:", test_accuracy)

795/795 [==============================] - 3s 3ms/step - loss: 0.8446 - categorical_accuracy: 0.6975
Test Loss: 0.8445846438407898
Test Accuracy: 0.6975170373916626